DATABASE_URL=postgres://user:password@hostname:port/dbname?sslmode=require
PORT=3000
NODE_ENV=development

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# Telegram Bot Config
TELEGRAM_BOT_TOKEN=your_bot_token_here
# Grup 1: Witel BALI, JATIM BARAT, JATIM TIMUR, NUSRA (NTB), NUSRA (NTT), SURAMADU
TELEGRAM_CHAT_ID_1=your_chat_id_1_here
# Grup 2: Witel SEMARANG, SEMARANG JATENG UTARA, SOLO JATENG TIMUR, YOGYA JATENG SELATAN
TELEGRAM_CHAT_ID_2=your_chat_id_2_here